/* Change default width for container in bootstrap*/
.container{
	width: 978px !important;
	padding: 0px !important;
}


*{
	font-family: 'Roboto', sans-serif;
}

ul{
	list-style:none;
	padding: 0;
	margin: 0;
}

a:hover{
	text-decoration: none !important;
}

.main{
	padding: 0 !important;
	margin: 0 !important;
}

.row{
	margin: 0 !important;
}

p{
	font-size: 16px;
	line-height: 32px;
	word-wrap: break-word;
}