.footer-wrap{
	padding-top: 73px;
	padding-bottom: 73px;
	border-bottom: 1px solid #E0E0E0 !important;
}

.top-footer{
	background-color: #f5f5f5;

}

.top-footer h2, .top-footer a{
	font-size: 14px;
	line-height: 1.4;
}

.top-footer h2{
    margin-bottom: 15px;
    margin-top: 0;
}

.top-footer a{
	color: #4184F3;
	font-weight: 300;

}

.top-footer a:hover{
	text-decoration: none;
}

.top-footer .col-md-4{
	float: left;
}

.top-footer li{
	line-height: 24px;
}

.bottom-footer{
	height: 144px;
}

.row.adjust{
	max-width: calc(100% - 240px) !important;
	font-size: 14px;
	padding-top: 50px;
	padding-bottom: 70px;
}

.bottom-footer .actions{
	display: inline-block;
	float: right;
	padding-top: 16px;
}

.bottom-footer li{
	display: inline-block;
	padding-right: 10px;
}

.footer-logo-container{
	height: 36px;
	width: 92px;
	display: inline-block;	
	
}

.footer-logo{
	display: block;
	background-image:url('../images/google-footer-logo.png');
	height: 36px;
	width: 92px;
	background-size: cover;
	
}
.container.bottom-footer-wrap{
	padding-top: 50px !important;
}

.bottom-footer a{
	color: #444;
	font-size: 13px;
}

.bottom-footer ul{
	list-style: initial;
}
