.my-brand{
	height: 96px;
	width: 284px;
	display: inline-block;	
	padding-top: 20px;
}

.my-logo{
	display: block;
	background-image:url('../images/google-blog-header.png');
	height: 96px;
	width: 284px;
	background-size: cover;
	
}

.header-content{
	display: inline-block;
	width: 260px;
	margin-left: 50px;
}

.header-wrap{
	padding-top: 73px;
	padding-bottom: 73px;
	border-bottom: 1px solid #E0E0E0 !important;
}

.header-content h2{
	font-size: 24px;
	font-weight: 400;
	margin-top: 0;
}

.header-content p{
	font-weight: 400;
	font-size: 14px;
	  line-height: 20px;
}

