.left-content{
	width: 660px;
	display: inline-block;
	
}

.left-content h2, .entry-title{
	font-size: 25px;
	line-height: 30px;
	font-weight: 400;
}

.left-content h2>a{
	color: black;
}

.left-content h2>a:hover{
	color: #4184F3;
}

.right-content{
	width: 248px;
	display: inline-block;
	vertical-align: top;
	margin-top: 22px;
	padding: 15px;
	border: 1px solid #E0E0E0;
	float: right;
}



time.updated{
	font-size: 16px;
	color: rgba(0,0,0,.54);
}

.entry-summary, .entry-content{
	padding-top: 40px;
	font-size: 16px;
	line-height: 32px;
	word-wrap: break-word;
	
}

.entry-summary a, .entry-content a{
	
	color: #4184F3;
}

.entry-summary p, .entry-content{
	width: 660px;
}

.entry-summary p img, .entry-content p img{
	width: 660px;
}

.entry-summary p iframe, .entry-content p iframe{
	width: 660px;
}



.byline.author.vcard{
	color: rgba(0,0,0,.54);
	font-weight: 500;
	font-size: 15px;

}

.pagination{
	width: 100%;
	height: 50px;
	border-top: 1px solid #E0E0E0;
}


.icon{
	display: inline-block;
	padding-right: 20px;
}


.nav-icons{
	float: right;
	padding-top: 20px;
	padding-left: 10px;
}

fa a{
	color: black;
}

.fa-arrow-left {
	opacity: 0.2;
	color: black;
}

.fa-arrow-right , .fa-home {
	opacity: 0.8;
	color: black;
}


.fa-arrow-right:hover, .fa-home:hover, .fa-arrow-left:hover{
	opacity: 1;
}

.nav{
	display: inline-block;
	float: right;
	padding-top: 20px;
}

.nav a{
	color: black;
}


.nav-previous, .nav-next{
	display: inline-block;
	padding: 0 10px;
}

.nav-previous{
	float: right;
}

.nav-next{
	float: left;
}


.btn-primary, .comment-form input[type=submit] {
    color: #fff;
    background-color: #4184F3;;
    border-color: #4184F3;;
}

.btn-default, .search-form .search-submit{
	display: none;
}

.content-container{
	padding-top: 20px;
}

.search-form label{
	width: 100%;
}

#archives-dropdown-3, .postform, .search-field {
	width: 100%;
}