.mobile-entry-summary{
	display: none;
}

@media (max-width: 600px){ 
	.mobile-entry-summary{
		display: block;
	}

	.entry-summary{
		display: none;
	}
	.my-brand{
	height: 59px;
	width: 180px;
	display: block;	
	padding-top: 5px;
	margin-left: 20px;
}

.my-logo{
	display: block;
	background-image:url('../images/google-blog-header.png');
	height: 59px;
	width: 180px;
	background-size: cover;

}


.header-content{
	padding-top: 20px;
	display: block;
	margin-left: 20px;
	

}

.container{
		width: 480px !important;
		padding: 0px !important;

}

.right-content{
	display: none;
}
}